doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Resume - Start Bootstrap Theme

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Tiankai Xie
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpeg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#experience') Experience
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#education') Education
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#skills') Skills
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#interests') Interests
                    //- li.nav-item
                    //-     a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Tiankai 
                        span.text-primary Xie
                    .subheading.mb-5
                        | tiankaixie · gmail · com
                    p.lead.mb-5
                        | I'm a third-year Ph.D. student in VADER lab at Arizona State University. My research area includes Visual Analytics, Explainable AI, and HCI.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/tiankai-xie-972618108/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/xietiankai')
                            i.fab.fa-github

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Graduate Research Associate
                            .subheading.mb-3 VADER lab, CIDSE, Arizona State University
                            p
                                | Research area: Visual Analytics, Explainable AI, Adversarial Machine Learning, HCI.
                        .flex-shrink-0
                            span.text-primary July 2018 - Present


                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Co-Founder
                            .subheading.mb-3 Robotgyms Inc.
                            li
                                | Design, implement and maintain Robotgyms's infrastructure. 
                            li
                                | Maintain company's devices including local network and devices' software and hardware installation. 
                            li  
                                | Develop, implement, and maintain policies, procedures, and associated training plans for network resource administration and appropriate use. 
                            li  
                                | Lecture Assistance and support. 
                            li  
                                | Customer consultation and support.
                        .flex-shrink-0
                            span.text-primary October 2017 - July 2018

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Arizona State University
                            .subheading.mb-3 Doctor of Philosophy
                            div Computer Science
                        .flex-shrink-0
                            span.text-primary August 2018 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Stevens Institute of Technology
                            .subheading.mb-3 Master's Degree
                            div Computer Science
                        .flex-shrink-0
                            span.text-primary 2015 - 2017

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Beijing Forestry University
                            .subheading.mb-3 Bachelor's Degree
                            div Computer Science
                        .flex-shrink-0
                            span.text-primary 2011 - 2015

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-docker
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-npm
                    //- .subheading.mb-3 Workflow
                    //- ul.fa-ul.mb-0
                    //-     li
                    //-         span.fa-li
                    //-             i.fas.fa-check
                    //-         | Mobile-First, Responsive Design
                    //-     li
                    //-         span.fa-li
                    //-             i.fas.fa-check
                    //-         | Cross Browser Testing & Debugging
                    //-     li
                    //-         span.fa-li
                    //-             i.fas.fa-check
                    //-         | Cross Functional Teams
                    //-     li
                    //-         span.fa-li
                    //-             i.fas.fa-check
                    //-         | Agile Development & Scrum

            hr.m-0

            //- // Interests
            //- section#interests.resume-section
            //-     .resume-section-content
            //-         h2.mb-5 Interests
            //-         p
            //-             | Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.
            //-         p.mb-0
            //-             | When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology advancements in the front-end web development world.

            //- hr.m-0

            // Publications
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Selected Publications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Y. Ma, T. Xie, J. Li and R. Maciejewski, "Explaining Vulnerabilities to Adversarial Machine Learning through Visual Analytics," in IEEE Transactions on Visualization and Computer Graphics, vol. 26, no. 1, pp. 1075-1085, Jan. 2020, doi: 10.1109/TVCG.2019.2934631.
                        //- li
                        //-     span.fa-li
                        //-         i.fas.fa-trophy.text-warning
                        //-     | Mobile Web Specialist - Google Certification


        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')